@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

i {
	margin-right: 0.6rem;
}

/*----------bootstrap-navbar-css------------*/

.navbarColor {
	background-color: #212529;
}

.navbarLink {
	display: flex;
	gap: 1rem;
}

.navbarLink a {
	display: flex;
	align-items: center;
	background-color: rgb(121, 124, 124);
	color: #f8f9fa;
	height: 4rem;
}

#logo_geral {
	width: 6.43rem;
    height: 2.62rem;
}



