<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/navbar.ejs'); -%>

<main class="main_principal">

    <div class="container_monitoramento grid gird-flow-col grid-cols-2">

        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p id="linha1Operation">Linha 1</p>
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Quantidade Te贸rica</span>
                            <canvas class="canvas_ring" id="value-1"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Quantidade Real</span>
                            <canvas class="canvas_ring" id="value-1a"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-1"></canvas>
                    </div>     
            </div>
        </div>
        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p id="linha2Operation">Linha 2</p>                 
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Quantidade Te贸rica</span>
                            <canvas class="canvas_ring" id="value-2"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >QuantidadeReal</span>
                            <canvas class="canvas_ring" id="value-2a"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-2"></canvas>
                    </div>     
            </div>
        </div>
        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p id="linha3Operation">Linha 3</p>                 
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Quantidade Te贸rica</span>
                            <canvas class="canvas_ring" id="value-3"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Quantidade Real</span>
                            <canvas class="canvas_ring" id="value-3a"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-3"></canvas>
                    </div>     
            </div>
        </div>
        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p id="linha4Operation">Linha 4</p>                   
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Quantidade Te贸rica</span>
                            <canvas class="canvas_ring" id="value-4"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Quantidade Real</span>
                            <canvas class="canvas_ring" id="value-4a"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-4"></canvas>
                    </div>     
            </div>
        </div>
   </div>

</main>


<%- include ('../partials/footer.ejs'); -%>
<script type="module" src="/js/monitoramento/monitoramento.js"></script>
