<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/navbar.ejs'); -%>

<main class="main_principal">

    <div class="container_monitoramento grid gird-flow-col grid-cols-2">

        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p>Maquina 1</p>                   
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-1"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-2"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-1"></canvas>
                    </div>     
            </div>
        </div>
        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p>Maquina 2</p>                   
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-3"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-4"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-2"></canvas>
                    </div>     
            </div>
        </div>
        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p>Maquina 3</p>                   
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-5"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-6"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-3"></canvas>
                    </div>     
            </div>
        </div>
        <div class="container_dash">
            <div class="graphCanvas">
                    <div class="canvas0">
                        <p>Maquina 4</p>                   
                    </div>

                    <div class="canvas1">
                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-7"></canvas>
                        </div>

                        <div class="canvas1_1">
                            <span >Peças</span>
                            <canvas class="canvas_ring" id="value-8"></canvas>
                        </div>
                    </div>

                    <div class="canvas2">
                        <canvas class="graph" id="grafico-4"></canvas>
                    </div>     
            </div>
        </div>
   </div>

</main>


<%- include ('../partials/footer.ejs'); -%>
<script type="module" src="/js/monitoramento/monitoramento.js"></script>
